<div class="companies">
    <div class="companies__row">
        <div class="companies__yourcharter companies__logo companies__logo_col-2">
            <img src="/assets/img/yourcharter.png" alt="Your Charter">
        </div>
        <div class="companies__getjet companies__logo companies__logo_col-2">
            <img src="/assets/img/getjet.png" alt="Get Jet">
        </div>
        <div class="companies__podorojnik companies__logo companies__logo_col-1">
            <img src="/assets/img/podorojnik.png" alt="Подорожник">
        </div>
    </div>
    <div class="companies__row">
        <div class="companies__alumet companies__logo companies__logo_col-2">
            <img src="/assets/img/alumet.png" alt="Alumet">
        </div>
        <div class="companies__aviacenterservice companies__logo companies__logo_col-1">
            <img src="/assets/img/aviacenterservice.jpg" alt="Aviacenter Service">
        </div>
        <div class="companies__vladey companies__logo companies__logo_col-2">
            <img src="/assets/img/vladey.png" alt="Vladey">
        </div>
    </div>
</div>
