body {
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 50px;
    margin: 0 auto;
    width: 880px;
    line-height: 1.6;
    @media (max-width: $medium-device) and (min-width: $small-device) {
        width: 600px;
    }
    @media (max-width: $small-device) {
        width: 80%;
    }
}

.abbr {
    letter-spacing: 0.03em;
}

.link {
    color: darken($secondary, 10%);
    text-decoration: none;
    position: relative;
    transition: color .2s;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: $secondary;
        opacity: .8;
        left: 0;
        transition: background .2s;
    }

    &:hover {
        color: lighten($primary, 10%);

        &::after {
            background: lighten($primary, 10%);
        }
    }
}
