.companies {
    margin-top: 80px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    background: #ffffff;

    &__row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__logo_col-1 {
        grid-column: span 1;
    }

    &__logo_col-2 {
        grid-column: span 2;
    }

    &__logo {
        display: grid;
        align-items: center;
        height: 100%;
        border: 1px solid #e8e8e8;
        border-right: none;

        &:first-child {
            border-left: none;
        }

        .companies__row:last-child & {
            border-bottom: none;
        }

        .companies__row:not(:last-child) & {
            border-top: none;
        }

        img {
            width: 100%;
            padding: 40px 70px;
            box-sizing: border-box;
        }
    }

    &__yourcharter img {
        margin-bottom: 9px;
    }

    &__getjet img {
        padding-right: 95px;
        padding-left: 95px;
    }

    &__podorojnik img {
        padding: 35px;
    }

    &__aviacenterservice img {
        padding: 50px;
    }

    @media (max-width: $medium-device) and (min-width: $small-device) {
        margin-top: 70px;

        &__logo img {
            padding: 0 40px;
        }

        &__getjet img {
            padding-right: 50px;
            padding-left: 50px;
        }

        &__podorojnik img {
            padding: 25px;
        }

        &__aviacenterservice img {
            padding: 25px;
        }
    }

    @media (max-width: $small-device) {
        margin-top: 50px;

        &__row {
            grid-template-columns: 1fr 1fr;
        }

        &__logo_col-1 {
            grid-column: span 2;
        }

        &__logo {
            height: 20vw;
            border-left: none;

            .companies__row:not(:first-child) &:first-child {
                border-top: none;
            }

            img {
                margin: auto;
                padding: 1vw;
                max-height: 80%;
                width: auto;
            }
        }

        &__yourcharter img {
            margin-bottom: .7vw;
        }

        &__podorojnik img {
            padding: 0;
        }

        &__alumet img {
            padding: 3vw;
        }

        &__vladey img {
            padding: 4vw;
        }
    }
}
