.icon {
    &_codepen {
        background-image: "../img/icons/codepen.svg";
        background-repeat: no-repeat;
    }

    &_codewars {
        background-image: "../img/icons/codewars.svg";
        background-repeat: no-repeat;
    }
}
