.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    fill: currentColor !important;

    &_codewars {
        background-image: url("/assets/img/icons/codewars.svg");
    }

    &_roistat {
        background-image: url("/assets/img/icons/roistat.png");
        background-size: 29px;
        top: 0.2em;
        left: -0.1em;
        margin-left: 0.1em;
    }
}
