.main-banner {
    margin-top: 17vh;
    margin-bottom: 70px;

    &__title-container {
        margin-left: 28px;
    }

    &__title {
        color: $secondary;
        font-size: 4.5em;
        font-weight: bold;
        line-height: 1.4;
    }

    &__job {
        color: opacify($gray, .4);
        margin-bottom: 2.6em;
        margin-top: -7px;
        font-size: 1.3em;
    }

    &__subtitle {
        line-height: 1.4;
        font-size: 1.4em;
    }

    @media (max-width: $medium-device) and (min-width: $small-device) {
        margin-bottom: 45px;
    }

    @media (max-width: $small-device) {
        margin-bottom: 40px;

        &__title-container {
            margin-left: 0;
        }
    }
}
