.social {
    margin-bottom: 1.3em;

    &__item {
        color: #343434;
        text-decoration: none;
        display: inline-block;
        margin-right: 30px;
        position: relative;
        transition: all .2s;

        .icon {
            margin-right: 3px;
            margin-top: 3px;
            margin-left: -9px;
        }

        &::after {
            background: #e2e2e2;
            width: 100%;
            height: 1px;
            content: '';
            position: absolute;
            bottom: -3px;
            display: block;
        }

        &:hover, &:active, &:focus {
            &::after {
                background: #666;
            }
        }

        @media (max-width: $small-device) {
            margin-bottom: 30px;
        }
    }

    &__name {
        margin-right: .5em;
        font-weight: bold;
    }

    &__caption {
        position: relative;
        top: -2px;
        color: #7b7b7b;
    }

    @media (max-width: $small-device) {
        margin-left: 0;
    }
}
