@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=cyrillic');
@import "vars";
@import "main-banner/main-banner";
@import "social/social";
@import "companies/companies";

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 880px;

    @media (max-width: $medium-device) and (min-width: $small-device) {
        width: 600px;
    }

    @media (max-width: $small-device) {
        width: 80%;
    }
}

.abbr {
    letter-spacing: .03em;
}
