<div class="resume">
    <div class="resume__portfolio">
        <div class="resume__project resume__project_roistat">
            <div class="resume__project-title">Система сквозной бизнес-аналитики</div>
            <img src="/assets/img/roistat.png" class="resume__project-icon">
        </div>

        <div class="resume__project resume__project_technopark">
            <div class="resume__project-title">Образовательный проект Mail.ru
                и МГТУ им. Баумана
            </div>
            <img src="/assets/img/technopark.png" class="resume__project-icon">
        </div>

        <div class="resume__project resume__project_yourcharter">
            <div class="resume__project-title">Брокер бизнес-авиации Ваш Чартер</div>
            <img src="/assets/img/yourcharter.png" class="resume__project-icon">
        </div>

        <div class="resume__project resume__project_getjet">
            <div class="resume__project-title">Уникальный маркетплейс бизнес-авиации GetJet</div>
            <img src="/assets/img/getjet.png" class="resume__project-icon">
        </div>

        <div class="resume__project resume__project_vladey">
            <div class="resume__project-title">Аукцион современного искусства VLADEY</div>
            <img src="/assets/img/vladey.png" class="resume__project-icon">
        </div>

        <div class="resume__project resume__project_aviacenterservice">
            <div class="resume__project-title">VIP-услуги в аэропортах мира</div>
            <img src="/assets/img/aviacenterservice.jpg" class="resume__project-icon">
        </div>

        <div class="resume__project resume__project_podorojnik">
            <div class="resume__project-title">Транспортная компания Подорожник</div>
            <img src="/assets/img/podorojnik.png" class="resume__project-icon">
        </div>
    </div>
</div>

<style>
    .post {
        padding-top: 7em;
    }
</style>
