<div class="resume">
    <div class="resume__info">
        <div class="resume__info-item">
            Использую
            <span class="resume__skill">PHP</span>,
            <span class="resume__skill">JavaScript</span>
        </div>
        <div class="resume__info-item">
            Имею опыт работы&nbsp;с
            <span class="resume__skill">C++</span>,
            <span class="resume__skill">Go</span>,
            <span class="resume__skill">Docker</span>
        </div>
        <div class="resume__info-item">
            2,5 года коммерческой разработки
        </div>
        <div class="resume__info-item">Учусь на вечернем курсе в
            <a href="http://park.mail.ru/" target="_blank" class="link">Технопарке</a> при МГТУ им. Н. Э. Баумана
        </div>
        <div class="resume__info-item">Окончил курс по&nbsp;алгоритмам и структурам данных в&nbsp;ЛКШ</div>
        <div class="resume__info-item">Призер олимпиад по&nbsp;программированию Москвы и&nbsp;Московской
            обл.
        </div>
    </div>
    <div class="resume__portfolio">
        <h3 class="resume__portfolio-header">Мои проекты</h3>

        <div class="resume__project resume__project_roistat">
            <div class="resume__project-first-line">
                <div class="resume__project-title-wrap">
                    <img src="/assets/img/roistat.png" class="resume__project-icon">
                    <div class="resume__project-title">Система сквозной бизнес-аналитики Roistat</div>
                </div>
            </div>
            <div class="resume__project-description">Собирает данные из&nbsp;CRM-системы, рекламных площадок
                и&nbsp;сайта. За&nbsp;секунды строит отчеты по&nbsp;30+&nbsp;бизнес-показателям и&nbsp;помогает их&nbsp;мониторить.
            </div>
            <div class="resume__project-details">
                <ul>
                    <li>PHP, JavaScript, MySQL, Redis</li>
                    <li>Работа в&nbsp;большой команде по&nbsp;agile-методологии</li>
                    <li>Строгий контроль качества, проведение code review</li>
                    <li>
                        Разработка новых сервисов аналитики, автоматизации маркетинга, мониторинга бизнес-показателей
                    </li>
                </ul>
            </div>
        </div>

        <div class="resume__project resume__project_podorojnik">
            <div class="resume__project-first-line">
                <div class="resume__project-title-wrap">
                    <img src="/assets/img/podorojnik.png" class="resume__project-icon">
                    <div class="resume__project-title">CRM транспортной компании &laquo;Подорожник&raquo;</div>
                </div>
            </div>
            <div class="resume__project-description">Автоматизация цикла обработки заказов от&nbsp;появления лида до&nbsp;отгрузки
                и&nbsp;оплаты. Личные кабинеты сотрудников, клиентов, приложение для водителей, API.
            </div>
            <div class="resume__project-details">
                <ul>
                    <li>PHP, MySQL, JavaScript, Backbone</li>
                    <li>Интеграции с&nbsp;системой маршрутизации, платежными и&nbsp;государственными системами</li>
                    <li>Разработал API</li>
                    <li>Внедрил CI</li>
                </ul>
            </div>
        </div>

        <div class="resume__project resume__project_yourcharter">
            <div class="resume__project-first-line">
                <div class="resume__project-title-wrap">
                    <img src="/assets/img/yourcharter.png" class="resume__project-icon">
                    <div class="resume__project-title">CRM брокера бизнес-авиации &laquo;Ваш Чартер&raquo;</div>
                </div>
            </div>
            <div class="resume__project-description">
                Система помогает компании обрабатывать заявки на аренду самолетов, предоставлять подходящие воздушные
                суда и&nbsp;контролировать выполнение рейсов.
            </div>
            <div class="resume__project-details">
                <ul>
                    <li>PHP, MySQL, JavaScript</li>
                    <li>Выполнял задачи обработки большого количества данных</li>
                    <li>Интегрировал CRM с&nbsp;рядом сторонних сервисов</li>
                    <li>Провел английскую локализацию</li>
                </ul>
            </div>
        </div>

        <div class="resume__project resume__project_taskor">
            <div class="resume__project-first-line">
                <div class="resume__project-title-wrap">
                    <img src="/assets/img/taskor.svg" class="resume__project-icon">
                    <div class="resume__project-title">Таск-трекер Taskor</div>
                </div>
            </div>
            <div class="resume__project-description">
                Персональный проект. Таск-трекер с&nbsp;таймером, стоимостью задач и&nbsp;статистикой. Позволяет
                замерять время, потраченное на&nbsp;задачи, и&nbsp;анализировать продуктивность.
            </div>
            <div class="resume__project-details">
                <ul>
                    <li>React, Service Workers, Node.js, MongoDB</li>
                    <li>
                        <a class="link" href="https://github.com/anton-kobzev/taskor" target="_blank">Код на GitHub</a>
                    </li>
                    <li>SPA, оптимистичный интерфейс</li>
                    <li>Базовая работа оффлайн</li>
                </ul>
            </div>
        </div>
        <div class="resume__project">И еще 10+ проектов для бизнеса и для себя</div>
    </div>
</div>

<style>
    .post {
        padding-top: 7em;
    }
</style>
