<div class="main-banner">
    <div class="main-banner__title-container">
        <div class="main-banner__title">Я – {{ site.title | escape }}</div>
        <div class="main-banner__job">
            Я работаю в Roistat <span class="icon icon_roistat"></span>
        </div>
        <div class="main-banner__subtitle">
            Занимаюсь разработкой систем аналитики, автоматизации <br>
            бизнеса, <span class="abbr">ERP</span> и <span class="abbr">CRM</span>-систем
        </div>
    </div>
</div>
