<link rel="stylesheet" href="{{ "/assets/css/main-banner/main-banner.css" | relative_url }}">
<div class="main-banner">
    <div class="main-banner__title-container">
        <div class="main-banner__title">{{ site.title | escape }}</div>
        <div class="main-banner__subtitle">
            разработка <span class="abbr">ERP</span> и <span class="abbr">CRM</span>-систем, <br>
            систем аналитики и автоматизации бизнеса
        </div>
    </div>
    <div class="main-banner__image">
        <!--<svg width="245px" height="240px" viewBox="0 0 142 139" version="1.1" xmlns="http://www.w3.org/2000/svg"-->
             <!--xmlns:xlink="http://www.w3.org/1999/xlink">-->
            <!--<style>-->
                <!--#Group-2 circle:hover {-->
                    <!--opacity: .2;-->
                    <!-- -webkit-transition: opacity .4s;-->
                    <!-- -moz-transition: opacity .4s;-->
                    <!-- -ms-transition: opacity .4s;-->
                    <!-- -o-transition: opacity .4s;-->
                    <!--transition: opacity .4s;-->
                <!--}-->
            <!--</style>-->
            <!--<defs></defs>-->
            <!--<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
                <!--<g id="Desktop" transform="translate(-637.000000, -119.000000)">-->
                    <!--<g id="Group-2" transform="translate(637.000000, 119.000000)">-->
                        <!--<circle id="Oval" fill="#D92929" cx="37.5" cy="11.5" r="11.5"></circle>-->
                        <!--<circle id="Oval-2" fill="#57C0C0" cx="66.5" cy="38.5" r="4.5"></circle>-->
                        <!--<circle id="Oval-3" fill="#CAAB65" cx="4.5" cy="102.5" r="4.5"></circle>-->
                        <!--<circle id="Oval-4" fill="#AC4444" cx="110" cy="107" r="9"></circle>-->
                        <!--<circle id="Oval-5" fill="#C454D7" cx="137.5" cy="91.5" r="4.5"></circle>-->
                        <!--<circle id="Oval-6" fill="#D8D8D8" cx="55" cy="133" r="6"></circle>-->
                    <!--</g>-->
                <!--</g>-->
            <!--</g>-->
        <!--</svg>-->
    </div>
</div>
