<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
            <div class="row">
                {%- include main-banner/main-banner.html -%}
            </div>

            <div class="row">
                {%- include social/social.html -%}
            </div>

            <div class="row">
                {%- include resume/resume.html -%}
            </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
